*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    background-color:#Fbf7ec;
    font-family: 'Roboto', sans-serif;
}
nav{
    width: 100%;
    height: 100px;
    background-color: #Fbf7ec;
    position:fixed;
}
.container{
    width: 100%;
    height: 100%;
    padding: 35px;
    
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;

}
.content-1{
    
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    font-size: 19px;
    font-weight: lighter;
    color:rgb(36, 27, 27)
     
}
.div1{
    margin-left: 15%;
    margin-right:10% ;
    display: flex;
    flex-direction: row;
}
.logo{
    font-size: 33px;
    color: rgb(93, 177, 93);
}
.text{
    padding-top: 1px;
    padding-left: 5px;
    font-size:30px;
    color: black;
    font-weight: bolder;
}
.div2{
    padding-left: 30px;
    padding-right: 20px;
     padding-top: 7px;
     font-weight: lighter;
}
.div3{
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 7px;
}

.div4{
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 7px;
}

.div5{
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 7px;
}
.content-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin-right: 40px;
    
}
.div6,.div7,.div8,.div9{
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 0px;  
}
.div9 button{
    width: 170px;
    height: 45px;
    background-color: rgb(34, 87, 34);
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border: 2px solid black;

}
.text-content{
    width: 100%;
    height: 100vh;
    /* height: 80vh; */
    /* padding: 3% 0%; */
    /* margin: 15% 8% ;  */
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:#Fbf7ec;
}
.email{
    width: 65%;
    height: 70vh;
    margin-left:5%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.mail1,.mail2,.mail3{
    padding: 30px 0px;
}
.mail1{
    font-size: 50px;
    font-weight:700 ;
    color: rgb(35, 65, 35);
}
.mail2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.e-mail{
    width: 340px;
    height: 45px;
    text-align:start;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 5px;
    padding:20px;
}
.mail3{
    
    font-size: 15px;
    color: rgb(48, 36, 36);
}
.image{
  width: 55%;
  height: 70vh;
  padding-top: -100px;
  align-items: center;
    
}
.green{
    margin-top: 50px;
    width: 100%;
    height: 180vh;
    background-color: #004c3f;
    z-index: 1;
     
}
.green-content{
    display: flex;
    flex-direction: column;
    justify-content:flex-start ;
    margin-left: 5%;
    margin-right: 5%;
   padding-top: 7%;
    
    /* padding: 6% 0% 6% 6% ; */
    align-items: flex-start;

}
.heading{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   
   padding-bottom: 80px;

}
.head1{
    font-size: 45px;
    color: white;
    font-weight: 400;
}
.head2{
    display: flex;
   flex-direction: row;
   justify-content:space-between; 
    font-size: 17px;
    color: white;
}
.line2{
    padding-left: 300px;
}
.photos{
    width: 100%;
    height: 70vh;
   padding-left:4% ;
   padding-right: 4%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    font-size: 19px;
   
}
.photos .img1,.img2,.img3,.img4,.img5 {
    padding: 0% 1% 0% 0%;

}
.plain-text{
    padding-top: 8%;
    font-size: 40px;
    font-weight: 400;
    color: white;

}
.bussiness{
    padding-top: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 19px;
    /* font-weight: 200; */
    color: white;

}
.bus1-text{
    padding-top: 20px;
    font-size: 25px;
}
.bus1-para{
    font-weight:lighter;
    padding-top: 20px;
  
    
}
.stat1{
    padding-right: 20px;
}
.bus-logo1{
    width: 30px;
    height: 30px;
    font-size: 30px;
    padding-bottom: 20px;
    
}

.main-content{
    width: 100%;
    height: 240vh;
    background-color:white;
    padding: 8%;
}
.main-para
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.main-para1{
    font-size: 40px;
    font-weight: 200;
    color: black;
    padding-bottom: 10px;

}
.main-para2 ,.main-para3{
    
    font-size: 20px;
    font-weight: lighter;
    color: darkgray;
}
.main-cont{
    /* position: relative; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.cont1{
    padding-top: 6%;
   padding-left: 0;
   padding-right: 0;
   width: 40%;
   display: flex;
   flex-direction: column;


}
.cont1 img{
   width: 100%;

}
.cont1-cont1{
    font-size: 40px;
    font-weight: 200;
    /* padding-top: 40px; */

}
.cont1-cont2{
    padding-top: 30px;
    font-size: 18px;
    /* font-weight: lighter; */
    color: black;
}
.cont1-cont3{
    font-weight: 600px;
    padding-top: 15px;
    font-size: 20px;
    /* font-weight: 600px; */
    color: #004c3f;
}
.man-explor{
    width: 100%;
    height: 90vh;
    background-color: #F3FCF4;
    padding: 7%;
}
.man-ex1{
    font-size: 35px;
    font-weight: 200;
    color: #004C3F;
    padding-bottom: 40px;
}
.man-ex2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.ex-cont{
    width: 55%;
    height: 48vh;
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.ex1-cont{
    font-size: 16px;
    font-weight: 400;
    color: black;
}
.ex2-cont{
   
    font-size: 25px;
    /* font-weight:lighter; */
    padding-top: 40px;
    color: black;
}
.ex3-cont{
    padding-top: 20px;
    font-weight: 100;
    font-family: ShopifySans, Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 17px;
    color: darkgrey;
}
.ex4-cont{
    padding-top: 50px;
    color: #004C3F;
    font-size: 20px;
    font-weight: 500;

}
.buss-owner{
    width: 100%;
    height: 200vh;
    background-color: white;
    display: flex;
   flex-direction: column;
   justify-content: flex-start;

}
.buss-owner .owner{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 7%;
    padding-top: 5%;

}
.own-cont1{
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 30px;

}
.own-cont2{
    font-size: 25px;
    color: #212326;
    /* padding-bottom: 40px; */

}
.image-cont{
    margin-top: -300px;
    width:100%;
    height: 100%;
}
.image-cont img{
    width: 100%;
    height: 100%;

}

.alicia{
    width: 100%;
    height: 90vh;
    background-color: white;
    padding-left: 6%;
    padding-right: 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.alicia-cont1 img{
    height: 100%;
    object-fit: contain;

}
.alicia-cont2{
    background-color: #002E25;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 8%;
    padding-left: 11%;
    padding-right:11%;

}
.alicia1{
    font-size: 30px;
    font-weight: 500;
    color:white;
   
    text-align: center;
    text-decoration: wavy;

}
.company{
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;

}

















.ex-image{
    width: 57%;
     height: 48vh;

}
.ex-image img{
    width: 100%;
  height: 48vh;
  
}














.foot-bar{
    width: 100%;
    height: 75vh;
    background-color: #002E25;
    padding-left:7%;
    padding-right: 7%;

}
.foot1{
    font-size: 16px;
    color: white;
    font-weight: 500;
    list-style: none;
    padding-top: 30px;

}
.foot-content{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom:0.1px  solid rgb(29, 65, 29);
}
.foot2{
    /* height: 50vh;
    display: grid;
    flex-direction: column;
    justify-content: flex-start; */

}
.foot2-cont{
    display: grid;
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}